<div id="<%= dom_id prayer_giver %>">
  <p>
    <strong>First name:</strong>
    <%= prayer_giver.first_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= prayer_giver.city %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prayer_giver.email %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= prayer_giver.end_date %>
  </p>

</div>
