<div id="<%= dom_id prayer_receiver %>">
  <p>
    <strong>First name:</strong>
    <%= prayer_receiver.first_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= prayer_receiver.city %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prayer_receiver.email %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= prayer_receiver.end_date %>
  </p>

</div>
